.col {
    background-color: #F5F5F5;
    margin: 0px;
    padding: 5px;
    border-top: solid 5px black;
    max-width: 450px;
    max-width: 400px;
    height:100%;
  }
  
  .text-center.add-new-card:hover {
    opacity:0.9;
    color: black;
  }
  
  .text-center.add-new-card {
    font-size:14px;
    color:#A6A6A6;
    cursor:pointer;
    opacity:0.4;
    min-width: 230px;
  }
  
  .list-name{
    font-weight: bold;
    text-align: center;
  }
  
  .list{
    background-color: #e4ebee;
  }