.col {
    background-color: #F5F5F5;
    margin: 0px;
    padding: 5px;
    border-top: solid 5px rgb(166, 255, 0);
    max-width: 350px;
    height:100%;
  }
  
  .text-center.add-new-card:hover {
    opacity:0.9;
    color:#767676;
  }
  
  .text-center.add-new-card {
    font-size:14px;
    color:#A6A6A6;
    cursor:pointer;
    opacity:0.4;
    min-width: 230px;
  }
  
  .list-name{
    font-weight: bold;
    text-align: center;
  }
  
  .list{
    background-color: #e4ebee;
  }