.card {
  margin-bottom: 10px;
  width: 300px;
  max-height: 350px;
  overflow-y: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 16px;
}

.card-body {
  max-height: 300px;
}

.text-muted {
  font-size: 14px;
}

// styles will be applied in ngClass in template
.ap-task-white {
  border-top: solid 6px white;
}

.ap-task-blue  {
  border-top: solid 6px blue ;
}

.ap-task-greenYellow {
  border-top: solid 6px greenYellow;
}

.ap-task-aqua {
  border-top: solid 6px aqua;
}
