<div class="card" [draggable]="'true'" (dragstart)="identifyCardBeingDragged($event)"
     id="list-{{listIndex}}-card-{{cardIndex}}" attr.listIndex="{{listIndex}}" attr.cardIndex="{{cardIndex}}"
     (dragover)="allowCardDragToBeDropped($event)">
  <div
    [ngClass]="{'ap-task-blue ': card.color =='blue', 'ap-task-white': card.color =='white', 'ap-task-greenYellow': card.color =='greenYellow', 'ap-task-aqua': card.color =='aqua'}"
    class="card-body">
    <h1 class="card-title mb-2" [(appContentEdit)]="card.header" [draggable]="'false'"></h1>
    <p class="text-muted card-subtitle mb-2" [(appContentEdit)]="card.summary" [draggable]="'false'"></p>
    <p class="text-muted card-subtitle mb-2" [draggable]="'false'">Created By:{{card.createdBy}}</p>
    <p class="text-muted card-subtitle mb-2" [draggable]="'false'">Assigned To:{{card.assignedTo}}</p>
    <button class="btn btn-sm btn-primary mr-2 mb-2" (click)="selectColor()">select color</button>
    <button (click)="assignTicket()" class="btn btn-sm btn-info mr-2 mb-2">Assign to..</button>
    <button class="btn btn-sm btn-warning mr-2 mb-2" (click)="addComment()">Add comment</button>
    <button *ngIf="!card.isCompleted; else completedBlock" (click)="markCompleted()" class="ap-complete btn btn-sm btn-success mb-2" [draggable]="'false'">Mark completed</button>
    <ng-template #completedBlock> <button class="btn btn-sm btn-info mb-2">Task completed!</button></ng-template>
    <ng-container *ngIf="card.comments">
        Comments:
    </ng-container>
    <ng-container *ngFor="let comment of card.comments; let i = index">
      <p (click)="addNestedComment(comment)" class="mb-2 " [draggable]="'false'">{{i+1}}.{{comment.comment}}     
        <span class="badge badge-pill badge-success">review</span></p>
     <!-- TO DO: CREATE HELPER COMPONENT FOR THE COMMENTS! -->
        <!-- <app-card-summary [child]="comment"></app-card-summary> -->
      <ng-container *ngFor="let sub of comment.subComments; let i = index">
        <p (click)="addNestedComment(sub)" class="text-muted card-subtitle  m-1"><span class="badge badge-pill badge-primary">sub:</span> {{sub.comment}} 
           <span class="badge badge-pill badge-success">review</span></p>
           <p *ngFor="let el of sub.subComments; let i = index" (click)="addNestedComment(el)" class="text-muted card-subtitle  m-1 ml-2"><span class="badge badge-pill badge-warning">sub:</span> {{el.comment}} 
            <span class="badge badge-pill badge-success">review</span></p>
            <p *ngFor="let elem of el; let i = index" (click)="addNestedComment(elem)" class="text-muted card-subtitle  m-1 ml-3"><span class="badge badge-pill badge-info">sub:</span> {{elem.comment}} 
              <span class="badge badge-pill badge-success">review</span></p>
      </ng-container>
    </ng-container>
  </div>
</div>


<!-- <h2>{{ category.Title }}</h2>
<ul *ngIf="category.Children.length > 0">
  <li *ngFor="let child of category.Children">
    <my-category [category]="child"></my-category>
  </li>
</ul> -->