<ng-container *ngIf="user; else unregisteredBlock">
                <h1 id="ap-kanban-title">Welcome to Kanban board application!</h1>
                <ng-container *ngIf="!boardCreated; else elseBlock;">
                        <button (click)="createBoard()" type="button" class="btn btn-success">Create/ restore Kanban board!</button>
                </ng-container>
                <ng-template #elseBlock>
                        <button (click)="createBoard()" type="button" class="btn btn-danger">Remove Kanban board!</button>
                        <div class="ap-board-container mt-2">
                                <app-board></app-board>
                        </div>
                </ng-template>

</ng-container>


<ng-template #unregisteredBlock>
              <h5 class="mt-4">
                        Please <a routerLink="/login">Sing In</a> to access the kanbar board. Don't have an account yet? <a routerLink="/register">Sign
                                Up!</a>   
              </h5>

</ng-template>