<!-- nav -->
<nav *ngIf="currentUser; else unregisteredBlock" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav ap-container ">
    <a class="nav-item nav-link" routerLink="/kanban-board" title="open kanban board">Kanban board</a>
    <a (click)="userAuthService.logout()" class="nav-item nav-link" title="Sign Out">Logout</a>
  </div>
</nav>
<ng-template #unregisteredBlock>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav ap-container">
      <a class="nav-item nav-link" routerLink="/kanban-board" title="You must be signed in to access the kanban board">Kanban
        board</a>
      <a class="nav-item nav-link" routerLink="/login" title="Sign In">Sign In</a>
      <a class="nav-item nav-link" routerLink="/register" title="Sign Up">Sign Up</a>
    </div>
  </nav>
</ng-template>

<div class="ap-container">
  <router-outlet></router-outlet>
</div>
