<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser; else unregisteredBlock">
  <div class="navbar-nav ap-container ">
    <a class="nav-item nav-link" routerLink="/">Kanban board</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>
<ng-template #unregisteredBlock>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav ap-container">
      <a class="nav-item nav-link" routerLink="/">Kanban board</a>
      <a class="nav-item nav-link" routerLink="/login">Sign In</a>
      <a class="nav-item nav-link" routerLink="/register">Sign Up</a>
    </div>
  </nav>
</ng-template>

<div class="ap-container">
  <router-outlet></router-outlet>
  <!-- <app-kanban></app-kanban> -->
</div>
