<div *ngIf="loading; else loadedBlock">
  Loading...
</div>

<ng-template #loadedBlock>
  <h1 id="ap-title">Remote Kanban board</h1>
  <div *ngIf="result?.data" class="grid-container mt-2">
    <div class="grid-item">
      <h3>
        Personal Information:
      </h3>
      Name: {{result.data.me.name}} <br>
      Email: {{result.data.me.email}} <br>
      Username: {{result.data.me.username}}  <br>
      ID: {{result.data.me.id}}
      <ng-container *ngFor="let org of result.data.organizations; let i = index">
        <h3>Organization Details:</h3>
        <p>{{i + 1}}. {{org.name}}: {{org.id}}</p>
      </ng-container>
      <div class="btn-group-vertical mt-2">
        <a class="btn btn-primary" href="https://app.pipefy.com/pipes/1093139#cards/" target="_blank">View origin
          board</a>
        <button (click)="addNewCard()" class="btn btn-success"> Add new card</button>

      </div>
    </div>
    <div class="grid-item ap-board">
      <ng-container *ngFor="let card of result.data.allCards.edges; let i = index">
        <div [ngStyle]="{'border-top': card.node.labels && card.node.labels[0]?.color ? 'solid 5px '+card.node.labels[0].color : 'solid 3px ' + 'white'}" class="ap-card m-2 ">
          <h5 class="p-1">{{card.node.title}}</h5>
          <div class="ap-due-date">
            <span *ngIf="card.node.due_date; else dateNotSetBlock"
                  class="badge badge-warning">{{card.node.due_date | date: 'short'}}</span>
          </div>
          <ng-template #dateNotSetBlock><span class="badge badge-info">No due date</span></ng-template>
          <div class="btn-group-vertical ap-modify-card">
            <a class="btn btn-info" href="https://app.pipefy.com/pipes/1093139#cards/{{card.node.id}}" target="_blank"
               type="button">View origin</a>
            <button (click)="editCard(card.node.id)" class="btn btn-primary" type="button">Edit</button>
            <button (click)="deleteCard(card.node.id, i)" class="btn btn-danger" type="button">Delete</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>

