
#ap-title {
  text-align: center;
}

#ap-board-table {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
}

.ap-board {
  display: flex;
}

.ap-card {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  flex-direction: column;
  height: 40vh;
  display: flex;
  opacity: 0.9;
  min-width: 130px;
}

.ap-modify-card {
  justify-content: flex-end;
  display: flex;
}

.ap-card:hover {
  transform: scale(1.1);
  z-index: 1000;
  opacity: 1;
}

.ap-due-date {
  justify-content: center;
  display: flex;
}

@media (max-width: 1000px) {
  .ap-card {
    min-width: 100px;
  }
}

